h1 {
color: #611ad2;
text-shadow:2px 2px 0 #cccccc;
font-size: 100px;
font-family: Tahoma, serif;
border: 1px solid red;
border-left-width: 10px;
padding: 5px 10px;
margin: 10px 0;
background-color: green
}
table{
	width: 100%;
}
table,th,td {
	font-size: 30px;
	padding: 20px;
	padding-right: 100px;
	text-align:center;
	vertical-align:middle;
	border: 2px solid grey;
}
caption {
    caption-side:top;
    color: black;
    text-align: center;
}
th{
	background-color:#E0E6FA;
}
td{
	background-color: lightyellow;
}

